.limits-fieldset {
	padding: 3rem;
	border-radius: 1rem;
	box-shadow: 4px 4px 20px -5px #000000;
	max-width: 45rem;
	width: 100%;
	margin: 0 auto;
}

.limits-fieldset--heading {
	margin-top: 0;
	text-align: center;
}

.limits-fieldset--form > div {
	display: flex;
	flex-direction: column;
}

.limits-fieldset--form .input-container {
	width: 100%;
}

.limits-fieldset--form > button {
	margin-top: 4rem;
	width: 100%;
}

.limits-fieldset--error {
	font-size: 1.4rem;
	margin: 0.5rem 0 0;
}

.limits-fieldset--button:hover {
	background-color: var(--button-hover-color);
}

@media screen and (max-width: 35em) {
	.limits-fieldset {
		width: 100%;
	}
	.limits-fieldset--form .input-container {
		width: 100%;
	}
}
@media screen and (max-width: 25em) {
	.limits-fieldset {
		padding: 1.5rem;
	}
}
